:root {
    --color-serenity: #c4dbe0;
    --color-turquoise: #2eb5e0;
    --color-cyan: #00a8a8;
    --color-midnight-blue: #0c6980;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-midnight-blue); /* Usando a nova cor */
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
}

.logo {
    color: var(--color-serenity); /* Usando a nova cor */
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    opacity: 0.9;
    z-index: 1;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: var(--color-serenity); /* Usando a nova cor */
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--color-turquoise); /* Usando a nova cor */
}

.nav-links {
    transition: transform 0.5s ease-in-out;
}

.hamburger.toggle .line {
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 30px;
    height: 4px;
    background-color: var(--color-serenity); /* Usando a nova cor */
    margin: 5px 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: var(--color-midnight-blue); /* Usando a nova cor */
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-active {
        transform: translateX(0);
    }
}

/* hero */
.hero {
    background-color: var(--color-serenity); /* Usando a nova cor */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    height: 100vh; /* Ocupa 100% da altura da viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza verticalmente */
    padding: 20px;
}

.hero-content {
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    max-width: 800px;
}

.controls button {
    background-color: var(--color-turquoise); /* Usando a nova cor */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: var(--color-cyan); /* Usando a nova cor */
}

.text {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    color: var(--color-midnight-blue); /* Usando a nova cor */
}

/* Responsividade */
@media (max-width: 768px) {
    .hero-content {
        padding: 10px;
    }

    /* iframe {
        height: 300px;
    } */

    .controls {
        flex-direction: column;
        align-items: center;
    }

    .controls button {
        margin-top: 10px;
        width: 100%;
    }

    .text {
        font-size: 1em;
    }
}